---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/Layout.astro";
import MainFlex from "@layouts/MainFlex.astro";
---

<Layout>
  <MainFlex>
    <Nav />
    <h1 class="mt-16">404 Not Found</h1>
  </MainFlex>
</Layout>
