---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="About Karolina Nocoń">
  <Nav />
  <main class="text-center flex flex-col gap-10 w-[36rem] mx-auto">
    <section class="">
      <h1 class="mb-4">About Karolina</h1>
      <p class="text-left">Karolina Nocoń is a world class professional photographer!</p>
      <p class="text-left">She is highly acclaimed and known for her unique perspective and ability to capture beauty and emotion in everyday life. Her work has been featured in galleries and exhibitions worldwide, and she has won numerous awards. She is passionate about capturing the beauty in the world and sharing it through her art. With her keen eye and technical skills, she creates visually stunning and emotionally resonant photographs.</p>
    </section>
    <section>
      <h2 class="-mt-2">Contact</h2>
      <address>karolinanocon@gmail.com</address>
    </section>
    <img src="/img/3002491233401717829_40771053472.webp" alt="Self portrait" width="500" class="mx-auto">
  </main>
</Layout>
