---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Main from '../layouts/Main.astro';
// import image from "../img/about.jpg";
import { Image, Picture } from '@astrojs/image/components';
import { Markdown } from '@astropub/md'
import data from "../data/about.json";
const images = import.meta.glob("/src/img/*");
const image = await images[data.image]();
---

<Layout title="About Karolina Nocoń">
  <Nav />
  <Main class="text-center px-8 xl:w-wide flex items-center gap-8 xl:gap-12 xl:mt-12 xl:flex-row flex-col">
    <Image src={image.default} alt="Photo by Karolina Nocoń" quality={90} width={500} format="webp" class="order-1 xl:order-none" />
    <article class="flex flex-col gap-10 content-center">
      <section class="flex flex-col gap-4 text-left">
        <h1 class="text-center">{data.title}</h1>
        <Markdown of={data.content} />
      </section>
      <section>
        <h2 class="-mt-2">Contact</h2>
        {data.contact.map(({ text }) => (
          <address>{text}</address>
        ))}
      </section>
    </article>
  </Main>
</Layout>

