---
import { Image } from "@astrojs/image/components";
import { Markdown } from "@astropub/md";
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import { getAsset } from "@lib/util";
import data from "@data/about.json";
import MainFlex from "@layouts/MainFlex.astro";

const image = await getAsset(data.image);
---

<Layout title="About Karolina Nocoń">
  <MainFlex>
    <Nav />
    <Image
      src={image.default}
      alt="Photo by Karolina Nocoń"
      width={400}
      format="webp"
      quality={90}
      class="mx-auto shadow-image rounded-full"
    />
    <article>
      <section class="text-grey-3 mb-6">
        <h1 class="font-bold tracking-[0.20em] text-xl leading-tight mb-12 text-grey-1">{data.title}</h1>
        <Markdown of={data.content} />
      </section>
      {data.contact.map(({ text }) => <address class="not-italic">{text}</address>)}
    </article>
  </MainFlex>
</Layout>
