---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import { getCollection } from 'astro:content';
import DiaryNav from '../components/DiaryNav.astro';
import BlogList from '../components/BlogList.astro';
import Main from '../layouts/Main.astro';

const blogs = await getCollection("diary");
const bodies = await Promise.all(blogs.map(async blog => await blog.render()));
---

<Layout title="Karolina Nocoń - Diary">
  <DiaryNav />
  <Main>
    <h1 class="text-center">Diary</h1>
    <BlogList {blogs} />
  </Main>
</Layout>
