---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import MainFlex from "@layouts/MainFlex.astro";
import Nav from "@components/Nav.astro";
import DiaryNav from "@components/DiaryNav.astro";
import BlogList from "@components/BlogList.astro";

const blogs = await getCollection("diary");
---

<Layout>
  <MainFlex>
    <Nav include={["/"]} socials={false} />
    <DiaryNav />
    <div class="diary-list flex flex-col gap-24 text-left text-grey-3 mb-24">
      <BlogList {blogs} />
    </div>
  </MainFlex>
</Layout>
