---
import { Image } from "@astrojs/image/components";
import Link from "@components/Link.astro";
import Layout from "@layouts/Layout.astro";
import data from "@data/home.json";
import { getAsset } from "@lib/util";
import MainFlex from "@layouts/MainFlex.astro";
import Nav from "@components/Nav.astro";

const image = await getAsset(data.image);
---

<Layout>
  <MainFlex class="min-h-screen">
    <div class="flex flex-col gap-mid">
      <h1
        class="font-normal tracking-[0.30em] text-3xl leading-tight mt-12 animate-[fadein_1s_paused]"
        id="index-title"
      >
        karolina nocoń
      </h1>
      <a href="/photography" aria-label="photography">
        <Image
          src={image.default}
          alt={data.alt}
          width={300 * 2}
          format="webp"
          quality={90}
          class="mx-auto rounded-full animate-[fadein2_1s_0.4s_both_paused] w-[300px]"
          id="index-image"
        />
      </a>
      <Nav />
    </div>
    <Link href="/diary" light>diary</Link>
  </MainFlex>
</Layout>

<script>
  let img = document.getElementById("index-image") as HTMLImageElement;

  let heading = document.getElementById("index-title") as HTMLElement;
  await document.fonts.ready;
  heading.style.animationPlayState = "running";
  let t = performance.now();

  if (img.complete) {
    img.style.animationPlayState = "running";
  } else {
    img.addEventListener("load", () => {
      img.style.animationDelay = Math.max(0, 400 - (performance.now() - t)) + "ms";
      img.style.animationPlayState = "running";
    });
  }
</script>

<style>
  @keyframes fadein2 {
    from {
      transform: scale(1.05);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      transform: scale(1.1);
      filter: blur(12px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }
</style>
