---
import Link from "@components/Link.astro";
import Layout from "@layouts/Layout.astro";
import MainFlex from "@layouts/MainFlex.astro";
import Nav from "@components/Nav.astro";
import directus, { imgSrc } from "@lib/directus";
import { readSingleton } from "@directus/sdk";

const home = await directus.request(readSingleton("home"));
---

<Layout>
  <MainFlex class="min-h-screen">
    <div class="flex flex-col gap-mid">
      <h1
        class="font-normal tracking-[0.30em] text-3xl leading-tight mt-12"
        id="index-title"
      >
        {home.heading}
      </h1>
      <a href="/photography" aria-label="photography">
        <img
          src={imgSrc(home.image, {format: "webp", width: 600, quality: 90})}
          role="presentation"
          class="mx-auto rounded-full animate-[fadein2_1s_both_paused] w-[300px]"
          id="index-image"
        />
      </a>
      <Nav dark />
    </div>
    <Link href="/diary" light>diary</Link>
  </MainFlex>
</Layout>

<script>
  let img = document.getElementById("index-image") as HTMLImageElement;

  if (img.complete) {
    img.style.animationPlayState = "running";
  } else {
    img.addEventListener("load", () => {
      img.style.animationPlayState = "running";
    });
  }
</script>

<style>
  @keyframes fadein2 {
    from {
      transform: scale(1.05);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      transform: scale(1.1);
      filter: blur(12px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      filter: blur(0);
      opacity: 1;
    }
  }
</style>
