---
import { Image, Picture } from '@astrojs/image/components';
import Link from '../components/Link.astro';
import Socials from '../components/Socials.astro';
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import image from "../img/home.jpg";
---

<Layout title="Karolina Nocoń">
  <Main class="text-center flex flex-col gap-4">
    <h1 class="italic font-extralight text-6xl mt-16 mb-12 animate-[fadein_1s_paused] leading-tight" id="index-title">Karolina Nocoń</h1>
    <Image src={image} width={640} quality={90} format="webp" alt="Photo by Karolina Nocoń" class="shadow-image mb-10 animate-[fadein2_1s_0.4s_both_paused]" id="index-image" />
    <ul class="uppercase flex flex-col gap-2">
      <li><Link href="/about">About</Link></li>
      <li><Link href="/photography">Photography</Link></li>
    </ul>
    <Socials />
    <Link href="/diary" class="uppercase">Diary</Link>
  </Main>
</Layout>

<script>
let img = document.getElementById("index-image") as HTMLImageElement;

let heading = document.getElementById("index-title") as HTMLElement;
await document.fonts.ready;
heading.style.animationPlayState = "running";
let t = performance.now();

if (img.complete) {
  img.style.animationPlayState = "running";
}
else {
  img.addEventListener("load", () => {
    img.style.animationDelay = (Math.max(0, 400 - (performance.now() - t))) + "ms";
    img.style.animationPlayState = "running"
  });
}
</script>

<style>
@keyframes fadein2 {
from {
  transform: scale(1.05);
  opacity: 0;
}
to {
  transform: scale(1);
  opacity: 1;
}
}
@keyframes fadein {
  0% {
    transform: scale(1.1);
    filter: blur(12px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100 % {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
</style>
