---
import { Image } from "astro:assets";
import Blurhash from "@components/Blurhash.astro";
import Nav from "@components/Nav.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getAsset, toUrl } from "@lib/util";
import { getCollection } from "astro:content";

interface Thumb {
  title: string;
  alt: string;
  ogSrc: string;
  src: ImageMetadata;
}

let sections: Record<string, Thumb[]> = {};

let photoSetsRaw = await getCollection("photography");
let photoSets = photoSetsRaw.map((photoSet) => photoSet.data).sort((a, b) => a.index - b.index);

for (let photoSet of photoSets) {
  const img = await getAsset(photoSet.thumb.src);

  (sections[photoSet.section] ??= []).push({
    title: photoSet.title,
    alt: photoSet.thumb.alt,
    ogSrc: photoSet.thumb.src,
    src: img.default,
  });
}
---

<Layout>
  <Main class="w-full sm:!w-auto overflow-hidden flex flex-col gap-16 justify-items-center">
    <Nav />
    {
      Object.values(sections).map((thumbs) => (
      <ul class="flex flex-wrap justify-center max-w-[min(1000px,100%)] gap-4 lg:gap-2 mx-auto mb-16">
          {thumbs.map((thumb) => (
            <li class="max-w-full">
              <a
                href={"/photography/" + toUrl(thumb.title)}
                class="max-w-full w-[26rem] aspect-ratio-polyfill flex items-center justify-center relative overflow-clip group"
                style={{
                  "--aspect-ratio": `${(1 / 2.6) * 100}%`,
                }}
              >
                <Image
                  src={thumb.src}
                  alt={thumb.alt}
                  width={312}
                  height={120}
                  class="absolute w-full duration-500 ease-expo"
                />
                <Blurhash src={thumb.ogSrc} />
                <div class="absolute inset-0 bg-black/60 opacity-0 transition-opacity duration-500 ease-expo group-hover:opacity-100" />
                <span class="z-10 text-grey-7 tracking-[0.2em] text-lg font-medium drop-shadow-text-1 duration-500 ease-expo transition-all group-hover:tracking-[0.55em]">
                  {thumb.title}
                </span>
              </a>
            </li>
          ))}
        </ul>
      ))
    }
  </Main>
</Layout>
