---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import ShowList from "@components/ShowList.astro";
import { getCollection } from "astro:content";
import ImageViewer from "@components/ImageViewer.astro";

const shows = await getCollection("shows");
const anyUpcoming = shows.some((show) => show.data.upcoming);
const anyPast = shows.some((show) => !show.data.upcoming);
---

<Layout>
  <Main class="sm:!w-auto xl:w-wide overflow-hidden flex flex-col gap-10 text-center">
    <Nav />
    {
      anyUpcoming ? (
        <ShowList shows={shows.filter((show) => show.data.upcoming)} heading="upcoming shows:" />
      ) : (
        <p>no upcoming shows</p>
      )
    }
    {
      anyPast ? (
        <ShowList shows={shows.filter((show) => !show.data.upcoming)} heading="past shows:" />
      ) : (
        <p>no past shows</p>
      )
    }
  </Main>
  <ImageViewer blur />
</Layout>
