---
import Nav from "@components/Nav.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Shows from "@components/Shows.astro";
import { getCollection } from "astro:content";

const shows = await getCollection("shows");
const anyUpcoming = shows.some((show) => show.data.upcoming);
const anyPast = shows.some((show) => !show.data.upcoming);
console.log(anyUpcoming, anyPast);
---

<Layout title="Karolina Nocoń - Shows">
  <Main class="sm:!w-auto xl:w-wide overflow-hidden flex flex-col gap-12 text-center">
    <Nav />
    {
      anyUpcoming ? (
        <Shows shows={shows.filter((show) => show.data.upcoming)} />
      ) : (
        <p>no upcoming shows</p>
      )
    }
    {
      anyPast ? (
        <Shows shows={shows.filter((show) => !show.data.upcoming)} />
      ) : (
        <p>no past shows</p>
      )
    }
  </Main>
</Layout>
