---
import type { CollectionEntry } from "astro:content";

interface Props {
  blogs: CollectionEntry<"diary">[];
}
const { blogs } = Astro.props;
---

{
  blogs
    .sort((a, b) => b.data.date - a.data.date)
    .map(async (blog) => {
      const { Content } = await blog.render();
      return (
        <section class="my-4 text-sm my-prose">
          <time class="block text-grey-5 mb-6">
            {blog.data.date.toLocaleDateString("pl-PL", {
              year: "numeric",
              month: "numeric",
              day: "numeric",
            })}{" "}
          </time>
          <Content />
        </section>
      );
    })
}

