---
import DiaryNavList from "./DiaryNavList.astro";
import { getDiaryEntries } from "@lib/directus";

const blogs = await getDiaryEntries();
const years = [...new Set(blogs.map(blog => blog.date.getFullYear()))].reverse();
---
<header class="px-4 items-center">
  <div class="sm:block">
    <DiaryNavList years={years} />
  </div>
</header>

