---
import { getCollection } from "astro:content";
import Link from "./Link.astro";

const blogs = await getCollection("diary");
const years = [...new Set(blogs.map(blog => blog.data.date.getFullYear()))].reverse();
---
<header class="p-6 mb-6 bg-zinc-50/90 sticky top-0 grid grid-cols-[120px_1fr_120px] items-center backdrop-blur-sm border-b-[1px] border-zinc-400">
  <div>
    <Link href="/">Home</Link>
  </div>
  <ul class="flex gap-4 justify-center">
    {years.map(year => (
      <li><Link href={`/diary/year/${year}`}>{year}</Link></li>
    ))}
    <li><Link href="/diary">All</Link></li>
  </ul>
</header>
