---
import Link from "@components/Link.astro";

interface Props {
  years: number[];
}

const { years } = Astro.props;

years.sort();
---

<div class={`flex flex-wrap gap-y-4 gap-x-8 lg:gap-x-6 justify-center items-baseline text-3xl`}>
  {
    years.map((year) => (
      <Link
        href={`/diary/${year}`}
        class="sm:mx-0"
        activeClass="!text-grey-2 !font-bold"
        light
      >
        {year}
      </Link>
    ))
  }
</div>
