---
import { getCollection } from "astro:content";
import DiaryNavList from "./DiaryNavList.astro";

const blogs = await getCollection("diary");
const years = [...new Set(blogs.map(blog => blog.data.date.getFullYear()))].reverse();
---
<header class="px-4 items-center">
  <div class="sm:block">
    <DiaryNavList years={years} />
  </div>
</header>

