---
import { Icon } from 'astro-icon';
---
<div id="image-viewer" class="text-white w-screen h-screen max-w-full max-h-full bg-black/75 backdrop-blur-lg transition-[backdrop] fixed top-0 left-0 hidden grid-rows-[fit-content(100%)_1fr] grid-cols-[fit-content(100%)_1fr_fit-content(100%)] items-center">
  <div id="image-viewer-close" class="col-start-3 cursor-pointer hover:bg-black/20 transition-colors w-12 h-12 flex items-center justify-center">
    <Icon name="ph:x" width="2.5em" height="2.5em" />
  </div>
  <div class="row-start-1 row-end-3 w-12 h-full">
    <div id="image-prev" class="h-full pt-12 cursor-pointer hover:bg-black/20 transition-colors">
      <Icon name="ph:caret-left" width="3em" height="3em" class="h-full" />
    </div>
  </div>
  <div class="self-center row-start-1 row-end-3 col-start-2 max-h-full">
    <img src="" alt="" class="mx-auto select-none">
  </div>
  <div id="image-next" class="h-full w-12 col-start-3 cursor-pointer hover:bg-black/20 transition-colors">
    <Icon name="ph:caret-right" width="3em" height="3em" class="h-full" />
  </div>
</div>

<script>
</script>
