---
import { Picture } from '@astrojs/image/components';
interface Props {
  mod: number,
  imgs: Record<string, any>[],
};
const { imgs, mod } = Astro.props;
---
<div class="flex flex-col gap-2">
  {imgs
    .map((img, i) =>
      i % 3 === mod ? (
        <div class="overflow-clip w-fit">
          <span>{i}</span>
          <Picture loading="lazy" data-index={i} class="img transition-transform cursor-pointer hover:scale-110 duration-300" src={img.default} alt="photo" widths={[340]} sizes="(min-width: 1000px) 340px" />
        </div>
      )
        : null)}
</div>
