---
import { isCurrent } from "@lib/util";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  class?: string;
  activeClass?: string;
  light?: boolean;
  nohover?: boolean;
}

const props = Astro.props;
const classes = props.class ?? "";
const activeClasses = props.activeClass ?? "";
const active = isCurrent(props.href, Astro.url.pathname);
const light = props.light;
const nohover = props.nohover;
---

<a
  aria-current={active ? "page" : null}
  class={`
overflow-clip relative inline-block mx-auto tracking-wide
${nohover ? "" : "hover:text-black"}
${light ? "text-grey-4" : "font-medium"}
${active ? activeClasses + " pointer-events-none" : ""}
${classes}`}
  {...props}
>
  <slot />
</a>
