---
import { isCurrent } from "@lib/util";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  class?: string;
  activeClass?: string;
  light?: boolean;
}

const props = Astro.props;
const classes = props.class ?? "";
const activeClasses = props.activeClass ?? "";
const active = isCurrent(props.href, Astro.url.pathname);
const light = props.light;
---

<a
  aria-current={active ? "page" : null}
  class={`
overflow-clip relative inline-block tracking-wide font-medium hover:text-hover
${light ? "text-grey-5 hover:text-hover-2" : ""}
${active ? activeClasses + " pointer-events-none" : ""}
${classes}`}
  {...props}
>
  <slot />
</a>
