---
import Link from "./Link.astro";
import Socials from "./Socials.astro";
const pages = [
  ["Home", "/"],
  ["About", "/about"],
  ["Photography", "/photography"],
  ["Diary", "/diary"],
];
const { exclude = [] } = Astro.props;
---
<header class="my-6 bg-zinc-50/90">
  <ul class="text-center uppercase mb-4 flex flex-col gap-2">
    {pages.filter(([_, href]) => (href !== Astro.url.pathname || href !== Astro.url.pathname + "/") && !exclude.includes(href)).map(([name, href]) => (
      <li><Link href={href}>{name}</Link></li>
    ))}
  </ul>
  <Socials />
</header>

