---
import Link from "./Link.astro";
import Socials from "./Socials.astro";
import { isCurrent } from "@lib/util";

const { exclude = [] } = Astro.props;
const pages = [
  ["Home", "/"],
  ["About", "/about"],
  ["Photography", "/photography"],
  ["Shows", "/shows"],
].filter(([_, href]) => !isCurrent(href, Astro.url.pathname) && !exclude.includes(href));
---

<nav class="text-center">
  <ul class="flex flex-col lowercase">
    {
      pages.map(([name, href]) => (
        <li>
          <Link href={href}>{name}</Link>
        </li>
      ))
    }
  </ul>
  <div class="mt-4">
    <Socials />
  </div>
</nav>
