---
interface Show {
  data: {
    poster: string;
    alt: string;
  };
}
interface Props {
  shows: Show[];
}
---

<h2 class="font-medium block text-base">past shows:</h2>
<div class="flex flex-wrap gap-24 justify-center">
  {Astro.props.shows.map((show) => <img src={show.data.poster} alt={show.data.alt} width="380" />)}
</div>
