---
import { Icon } from 'astro-icon/components'
---

<div class="mx-auto w-fit">
  <a href="https://www.instagram.com/karolinocon/" target="_blank" aria-label="instagram" class="text-grey-2 hover:text-hover">
    <Icon name="ph:instagram-logo" width="2.2em" height="2.2em" />
  </a>
</div>
