---
import { Icon } from "astro-icon/components";

const {dark} = Astro.props;
---

<div class="mx-auto w-fit flex gap-2">
  <a
    href="https://www.instagram.com/karolinocon/"
    target="_blank"
    aria-label="instagram"
    class=`${dark ? 'text-grey-1' : 'text-grey-2'} hover:text-hover`
  >
    <Icon name="ph:instagram-logo" width="2.2em" height="2.2em" />
  </a>
  <a
    href="https://www.facebook.com/karolinocon/"
    target="_blank"
    aria-label="facebook"
    class=`${dark ? 'text-grey-1' : 'text-grey-2'} hover:text-hover`
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24">
      <g color="currentColor">
        <path
          d="M16.632 2.268H7.56A5.2977 5.2977 90 002.268 7.56V16.632A5.2977 5.2977 90 007.56 21.924H16.632A5.2977 5.2977 90 0021.924 16.632V7.56A5.2977 5.2977 90 0016.632 2.268M20.412 16.632A3.78 3.78 90 0116.632 20.412H7.56A3.78 3.78 90 013.78 16.632V7.56A3.78 3.78 90 017.56 3.78H16.632A3.78 3.78 90 0120.412 7.56Z"
          stroke="none"
          fill="currentColor"></path>
        <path
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.927 8.026h-2.945a1.9 1.9 0 0 0-1.9 1.886l-.086 11m-1.914-7.425h4.803"></path>
      </g>
    </svg>
  </a>
</div>
