---
import { Icon } from 'astro-icon/components'
---

<div class="mx-auto w-fit flex gap-2">
  <a href="https://www.instagram.com/karolinocon/" target="_blank" aria-label="instagram" class="text-grey-2 hover:text-hover">
    <Icon name="ph:instagram-logo" width="2.2em" height="2.2em" />
  </a>
  <a href="https://www.facebook.com/karolinocon/" target="_blank" aria-label="facebook" class="text-grey-2 hover:text-hover">
    <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"/><path d="M16.927 8.026h-2.945a1.9 1.9 0 0 0-1.9 1.886l-.086 11.515m-1.914-7.425h4.803"/></g></svg>
  </a>
</div>
