---
import { Icon } from "astro-icon";

interface Props {
  stat?: boolean;
};
const { stat } = Astro.props;
---
<div class={`mx-auto w-fit ${stat ? "" : "absolute"} top-5 right-5`}>
  <a href="https://www.instagram.com/karolinocon/" target="_blank" aria-label="instagram">
    <!-- <Icon name="ph:instagram-logo-light" width="2.2em" height="2.2em" class="hover:text-zinc-700 ig-icon" /> -->
    <!-- <Icon name="ph:instagram-logo-thin" width="2.5em" height="2.5em" /> -->
    <div class="ig-icon-container">
      <svg class="ig-icon" xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 256 256"><clipPath id="ig-clip-path"><path transform=scale(0.14) fill="currentColor" d="M128 80a48 48 0 1 0 48 48a48 48 0 0 0-48-48Zm0 80a32 32 0 1 1 32-32a32.1 32.1 0 0 1-32 32Zm44-132H84a56 56 0 0 0-56 56v88a56 56 0 0 0 56 56h88a56 56 0 0 0 56-56V84a56 56 0 0 0-56-56Zm40 144a40 40 0 0 1-40 40H84a40 40 0 0 1-40-40V84a40 40 0 0 1 40-40h88a40 40 0 0 1 40 40Zm-20-96a12 12 0 1 1-12-12a12 12 0 0 1 12 12Z"/></clipPath></svg>
      <!-- <svg class="ig-icon" xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 256 256"><clipPath id="ig-clip-path"><path transform=scale(0.14) fill="currentColor" d="M128 82a46 46 0 1 0 46 46a46 46 0 0 0-46-46Zm0 80a34 34 0 1 1 34-34a34.1 34.1 0 0 1-34 34Zm44-132H84a54 54 0 0 0-54 54v88a54 54 0 0 0 54 54h88a54 54 0 0 0 54-54V84a54 54 0 0 0-54-54Zm42 142a42 42 0 0 1-42 42H84a42 42 0 0 1-42-42V84a42 42 0 0 1 42-42h88a42 42 0 0 1 42 42Zm-24-96a10 10 0 1 1-10-10a10 10 0 0 1 10 10Z"/></clipPath></svg> -->
    </div>
  </a>
</div>

<style>
.ig-icon {
  clip-path: url(#ig-clip-path);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 2%, #fd5949 22%,#d6249f 30%,#285AEB 45%,black 50%);
  background-position: 82%;
  background-size: 400%;
  transition: background-position 0.35s;
}
.ig-icon-container:hover .ig-icon {
  background-position: 10%;
  /* background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); */
};
</style>
