---
---

<div class="mx-auto w-fit">
  <a href="https://www.instagram.com/karolinocon/" target="_blank" aria-label="instagram">
    <div class="ig-icon-container">
      <svg
        class="ig-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="2.2em"
        height="2.2em"
        viewBox="0 0 256 256"
      >
        <clipPath id="ig-clip-path">
          <path
            transform="scale(0.14)"
            fill="currentColor"
            d="M128 80a48 48 0 1 0 48 48a48 48 0 0 0-48-48Zm0 80a32 32 0 1 1 32-32a32.1 32.1 0 0 1-32 32Zm44-132H84a56 56 0 0 0-56 56v88a56 56 0 0 0 56 56h88a56 56 0 0 0 56-56V84a56 56 0 0 0-56-56Zm40 144a40 40 0 0 1-40 40H84a40 40 0 0 1-40-40V84a40 40 0 0 1 40-40h88a40 40 0 0 1 40 40Zm-20-96a12 12 0 1 1-12-12a12 12 0 0 1 12 12Z"
          >
          </path>
        </clipPath>
      </svg>
    </div>
  </a>
</div>

<style>
  .ig-icon {
    clip-path: url(#ig-clip-path);
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 2%,
      #fd5949 22%,
      #d6249f 30%,
      #285aeb 45%,
      #a5a5a5 50%
    );
    background-position: 83%;
    background-size: 400%;
    transition: background-position 0.35s;
  }
  .ig-icon-container:hover .ig-icon {
    background-position: 10%;
  }
</style>
