---
import { getCollection } from "astro:content";
import DiaryNav from "../../components/DiaryNav.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../layouts/Main.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("diary");
  return blogs.map(blog => ({
    params: { slug: blog.slug }, props: { blog },
  }));
};

const { blog } = Astro.props;
const { Content } = await blog.render();
---

<Layout title={blog.data.title + " - Karolina Nocoń - Diary"}>
  <DiaryNav />
  <Main>
    <article class="prose">
      <h1 class="mb-4">{blog.data.title}</h1>
      <time class="italic">{blog.data.date.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", })} </time>
      <hr class="my-4 border-zinc-300" />
      <Content />
    </article>
  </Main>
</Layout>

