---
import directus, { imgSrc } from "../lib/directus";
import { readSingleton } from "@directus/sdk";

export interface Props {
  title?: string;
}

const data = await directus.request(readSingleton("global"));

const pathLast = Astro.url.pathname.split("/").slice(-1)[0];
const title = Astro.props.title ?? "karolina nocoń" + (pathLast ? " - " + pathLast : "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={imgSrc(data.icon, { width: 32, format: "jpg" })} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={data.description} />
  </head>
  <body class="bg-grey-7 text-grey-1 mx-auto">
    <slot />
    <div
      id="copyright"
      class="absolute top-0 left-0 z-50 px-4 py-2 bg-grey-6 text-grey-1 select-none hidden"
    >
      {data.copyrightText}
    </div>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src:
      url("/fonts/open-sans-v34-latin_latin-ext-regular.woff2") format("woff2"),
      url("/fonts/open-sans-v34-latin_latin-ext-regular.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    src:
      url("/fonts/open-sans-v34-latin_latin-ext-500.woff2") format("woff2"),
      url("/fonts/open-sans-v34-latin_latin-ext-500.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src:
      url("/fonts/open-sans-v34-latin_latin-ext-700.woff2") format("woff2"),
      url("/fonts/open-sans-v34-latin_latin-ext-700.woff") format("woff");
  }

  @layer base {
    html {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }
    h1 {
      font-size: 2.4em;
    }
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.17em;
    }
    h4 {
      font-size: 1em;
    }
    h5 {
      font-size: 0.83em;
    }
    h6 {
      font-size: 0.67em;
    }
  }

  @layer utilities {
    .transition-1 {
      @apply duration-500 ease-expo;
    }
    .text-hover {
      @apply text-grey-0;
    }
    .text-hover-2 {
      @apply text-grey-3;
    }
    .aspect-ratio-polyfill:before {
      float: left;
      padding-top: var(--aspect-ratio);
      content: "";
    }
    .aspect-ratio-polyfill:after {
      display: block;
      content: "";
      clear: both;
    }
  }
</style>

<script>
  import { setupCopyright } from "@lib/copyright";

  setupCopyright();
</script>

